/target
/classes
/checkouts
/.idea
*.iml
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

.DS_Store
.sass-cache
.lein-errors


# Ignore all generated ClojureScript build outputs
/resources/public/cljs/
/resources/public/cljs-prod/
/resources/public/cljs-advanced/
/resources/public/cljs_deps.js
/resources/public/cljs-prod_deps.js
/resources/public/cljs/**
/resources/public/cljs-prod/**

resources/public/css/app.css
resources/public/css/highlighting.css
resources/public/clojuredocs-export.json

TAGS

/dev-db
/data

# Ignore all tooling and linting files and directories
.calva/
.portal
.portal/*
/clj-kondo
**/.clj-kondo/.cache
performance.txt
clj-kondo*.snap
.planck_cache

